<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORM</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .wrapper {
        width: 400px;
        margin: 30px auto;
        border: 2px gray solid;
        border-radius: 5px;
        text-align: center;
      }

      .wrapper2 {
        width: 400px;
        margin: 30px auto;
        border: 2px gray solid;
        border-radius: 5px;
        text-align: center;
      }

      .form-input {
        display: block;
        margin: 15px 10px;
      }
    </style>
  </head>
  <body>
  
      <h1 style="text-align: center;">WELCOME TO FUCKING INSTAGIVE</h1>
     
    
      <h1 style="text-align: center;">POST LIST</h1>

    <div class="wrapper2">

      <% item.map(items => { %>

      <h1><%= items.Title%></h1>
      <h1><%= items.description%></h1>
      <h3>GOAL AMOUNT: <%=items.totalAmount%></h3>
      <h3>CURRENT AMOUNT: <%=items.currentAmount%></h3>
      <h3>NUMBER OF DONORS: <%=items.totalDonors%></h3>

      <a href="/landing/sample/<%=items._id%>" target="_top">
        <img
          style="width: 100%"
          src="/<%=items.profilePic%>"
          alt="<%=items.profilePic%>"
        />
      </a>
            <h2>View Full Post</h2>
      <hr />
      <hr />

      <% }); %>
    </div>
  </body>
</html>
